CompileFlags:
  CompilationDatabase: micropython/ports/rp2/build-RP2350_TOUCH_LCD_2
  Add:
    - -I/home/lama/Asztal/projects2/aron_polinvent/lcd_2in/micropython
    - -I/home/lama/Asztal/projects2/aron_polinvent/lcd_2in/micropython/lib
    - --target=arm-none-eabi
Diagnostics:
  UnusedIncludes: Strict

